[package]
name = "diesel-adapter"
version = "0.4.3"
authors = ["Cheng JIANG <jiang.cheng@vip.163.com>"]
edition = "2018"
license = "Apache-2.0"
description = "Diesel adapter for casbin-rs"
homepage="https://github.com/casbin-rs/diesel-adapter"
readme="README.md"

[dependencies]
casbin = { version = "0.4.3" }
diesel = { version = "1.4.3", features = ["r2d2"] }
async-trait = "0.1.24"

[features]
default = ["postgres", "runtime-async-std"]

postgres = ["diesel/postgres"]
mysql = ["diesel/mysql"]

runtime-tokio = ["casbin/runtime-tokio"]
runtime-async-std = ["casbin/runtime-async-std"]

[dev-dependencies]
async-std = { version = "1.5.0", features = [ "attributes" ] }
tokio = { version = "0.2.11", features = [ "full" ] }

